cffi==1.17.1 ; python_full_version >= "3.13.5" and platform_python_implementation != "PyPy"
colorama==0.4.6 ; python_full_version >= "3.13.5" and sys_platform == "win32"
coverage==7.9.1 ; python_full_version >= "3.13.5"
cryptography==45.0.4 ; python_full_version >= "3.13.5"
iniconfig==2.1.0 ; python_full_version >= "3.13.5"
packaging==25.0 ; python_full_version >= "3.13.5"
pillow==11.2.1 ; python_full_version >= "3.13.5"
pluggy==1.6.0 ; python_full_version >= "3.13.5"
pycparser==2.22 ; python_full_version >= "3.13.5" and platform_python_implementation != "PyPy"
pygments==2.19.1 ; python_full_version >= "3.13.5"
pytest-pythonpath==0.7.3 ; python_full_version >= "3.13.5"
pytest==8.4.1 ; python_full_version >= "3.13.5"
tomli==2.2.1 ; python_full_version >= "3.13.5"
